.button {
  min-width: 20%;
  max-width: 20%;
  background: none;
  padding: 10px;
  border: 1px solid #ff9800;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.button:hover {
  background: #ff9800;
  padding: 10px;
  border: 1px solid #ff9800;
  color: white;
}