@use '../../../styles/variables';
@use '../../../styles/mixins';

.container {
  display: grid;
  grid-gap: 20px;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  width: 70%;
  background: #353238;
  box-shadow: 1px 7px 30px 2px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  color: #e5e5e5;

  @include sm {
    flex-direction: row;
    height: 382.51px;
    width: 70%;
  }
}

.card--image {
  flex: 1;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  background: $whiteColor;
  border-radius: 0 0 20px 20px;

  @include sm {
    border-radius: 20px 0 0 20px;
  }
}

.card--info {
  flex: 2;
  align-self: center;
  padding: 20px;

  @include sm {
    padding: 0 40px;
  }
}

.card--info--title {
  font-weight: 700;
  font-family: $fontTitle;
}

.card--info--tagline {
  font-family: $fontTitle;
  font-weight: 700;
  font-style: italic;
  padding-bottom: 10px;
}

.card--info--description {
  font-family: $fontBody;
  line-height: 20px;
}

.image {
  align-self: center;
  object-fit: contain;
  max-width: 25%;
  
  @include sm {
    max-width: 100%;
    max-height: 100%;
  }
}
