@use '../../variables';

.beersList--container {
  min-height: 100vh;
  max-width: 50vw;
  min-width: 50vw;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.beersList--title {
  font-family: $fontTitle;
  color: $whiteColor;
}

.beersList--list {
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  font-family: $fontBody;
}

.beersList--item {
  padding: 10px 0;
}

.beersList--item--link {
  text-decoration: none;
  color: $whiteColor;
}

.beersList--item--link:hover {
  text-decoration: underline;
}

.button {
  min-width: 20%;
  max-width: 20%;
  background: none;
  padding: 10px;
  border: 1px solid #ff9800;
  color: white;
  font-weight: 700;
}

.button:hover {
  background: #ff9800;
  padding: 10px;
  border: 1px solid #ff9800;
  color: white;
}